.heading1{
    text-align: center;
    color: firebrick;
    font-size: 75px;
}
.demon{
    margin-top: 10px;
   
}
.heading2{
    color: rgb(10, 1, 1);
    text-align: center;
    
}
.card {display:inline-block;
  margin-top: 20px;
  margin-right: 80px;
  margin-left: 50px;  
}
.divcontact{
    margin-top: 20px;
    background-color: rgba(255, 238, 0, 0.959);
}